.sec-img-imgs{
    height: 9rem;
    width: 9rem;

}
.sec-img-imgs img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}
.text-pix{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.whole-carousel{
    margin: 3rem 1.5rem;
}
.nav-button{
    padding: 3rem;
}
@media screen and (max-width:908px){
    .nav-button{
        right: 1%;
        top: 5rem;
        padding-top: 2.5rem;
    }
    .first-but{
        padding: .45rem;
    }
}
@media screen and (max-width:768px){
    .nav-button{
        right: 1%;
        top: 5rem;
        padding-top: 2.5rem;
    }
    .first-but{
        padding: .45rem;
    }
}