.cimage{
    overflow: hidden;
}
.cimage img{
  transform: scaleY(1.65);
  
}
/* .c-main-img{
    height: 28rem;
    width: 28rem;
} */
.bel-one-log{
    transform: scaleX(3);
    height: 100%;
    width: 100%;
}
.inside{
    background-image: url('/asset/bel-@.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}
.c-place .slider-container .slick-slider .slick-arrow{
 display: none;
}
